html{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
}

.profile-pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.header{
  background-color: #d1d1d1;
  padding-top: 25px;
  padding-bottom: 25px;
}

.hero-text{
  text-align: center;
  font-family: sans-serif;
}
