html{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  font-family: 'Lato', sans-serif;
}

a{
  color: black;
}

a:hover{
  color: gray;
  text-decoration: underline;
}

.links li{
  display: inline;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
}

a{
  text-decoration: none;
}

.profile-pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-shadow: 2px 2px 15px black;
}

.header{
  background-color: #deecff;
  padding-top: 25px;
  padding-bottom: 25px;
}

.hero-text{
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.my-name{
  border-bottom-style: dotted;
}

/* About Me */
.about-me{
  background-color: #f3f8ff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.all-me{
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  width: auto;
}

.also-me{
  display: inline-block;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.also-me h3{
  text-align: center;
}

.cv{
  text-decoration: underline;
}

.line-space{
  line-height: 25px;
}

.hobbies{
  list-style-type: none;
}

/* Portfolio */
.portfolio{
  padding: 10px 50px 10px 50px;
  background-color: #deecff;
  text-align: center;
}

.section-title{
  text-align: center;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 35px;
}

.project{
  display: inline-block;
  clear: both;
  margin-left: 50px;
  margin-right: 50px;
  width: 300px;
}

.testimony{
  margin: 0;
  width: 300px;
}

.testimony>h4{
  text-align: center;
}

.proj-img{
  width: 300px;
  height: 300px;
}

.description{
  margin: 0;
  padding-bottom: 25px;
}

/* Footer section */
#footer{
  background-color: #f3f8ff;
  padding: 2% 7%;
  text-align: center;
}

.copyright{
  padding: 20px 30px;
  margin: 0;
}

.social{
  margin: 20px 10px;
}
