html{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  font-family: sans-serif;
}

.links{
  text-align: center;
  list-style: none;
}

.links li{
  display: inline;
  text-decoration: none;
}

.profile-pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.header{
  background-color: #d1d1d1;
  padding-top: 25px;
  padding-bottom: 25px;
}

.hero-text{
  text-align: center;
}

.portfolio{
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #c8e8ed;
}

.section-title{
  padding-bottom: 7px;
}

.project{
  display: inline-block;
  clear:both;
  padding-left: 20px;
  padding-right: 20px;
}
